# Ignore the data paths
data_paths.py
*.npy
*.pyc
_config.yml
tpu_data_check.xlsx
tpu_group_data_check.xlsx

# Ignore some paths
.idea/
__pycache__/

# Ignore the files
.idea/workspace.xml
transit_non_transit_comparision/sentiment_combined.tif
transit_non_transit_comparision/__pycache__/before_and_after_final_tpu.cpython-37.pyc
transit_non_transit_comparision/tweet_time_count_summary.csv
transit_non_transit_comparision/tweets_in_tpus_count.xlsx
transit_non_transit_comparision/users_not_visitors.npy
transit_non_transit_comparision/DID_analysis_before.py
transit_non_transit_comparision/check.sh
Visualization/__pycache__/topic_model_tweets.cpython-37.pyc
